<div class="container">
    <div class="row">
      <h3 class="section-title section-title-sm">
        <span>質問作成フォーム</span>
      </h3>
    </div>

              <%= form_for @question do |t| %>
                      <div class="Question-box-contents row">
                        <div class="col-md-4">タイトル</div><div class="col-md-6"><%= t.text_field :title %></div>
                      </div>
                      <div class="Question-box-contents row">
                        <div class="col-md-4">質問内容</div><div class="col-md-6"><%= t.text_field :body %></div>
                      </div>
                      <div class="Question-box-contents row">
                        <div class="col-md-4">カテゴリー</div>
                        
                        <div class="Question-box-contents row">
                          <div class="button col-md-12"><%= t.submit '送信する' %></div>
                        </div>
              <% end %>



          </div>
        </div>
      </div>
    </div>
  </div>