<%= render 'share/header' %>
  <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
    <!-- Title Section  -->
      <h2>なんくるないさ.とは</h2>
      <p>沖縄県の人や沖縄に詳しい人と<br/>情報を共有するサイトです</p>
    </div>
  </div>
  <br><hr><br>

  <!-- Threecolumn Section  -->
  <div class="row">
    <div class="col-md-4">
      <h3 class="row-space-3">なんくるないさ.を利用する理由</h3>
      <p>沖縄に観光目的で訪れたい方がガイドブックに載っていないディープな観光スポットや地元の人しか普段行くことのないような場所を発見する事ができます。</p>
    </div>
    <div class="col-md-4">
      <h3 class="row-space-3">なんくるないさ.の仕組み</h3>
      <p>沖縄に詳しい人がオススメスポットを共有出来ます。<br>
         また、観光で訪れたいと考えている方は質問を投稿する事で不安や疑問をなるべく解決して観光を楽しむ事が可能になります。</p>
    </div>

    <div class="col-md-4">
      <h3 class="row-space-3">なんくるないさ.の特徴</h3>
      <p>投稿、質問を簡単に共有する事が出来ます。<br>
         さらに共有した方とコミュニケーションをとる事で、観光に訪れる前に疑問が解消でき、さらに観光を楽しめます。</p>
    </div>
  </div>
  <br><hr><br>

  <div class="row text-center">
    <div class="col-md-12">
      <h2>さあ、質問、疑問を投げ掛けてみよう！</h2>
      <div><%= link_to '新規登録', new_customer_registration_path , class: 'link_color_start'%></div>
    </div>
  </div>




</div>