<%= render 'share/header' %>
	<div class="bg">
	  <%= image_tag 'sea.jpg', class: 'bg'%>
	  <p class='bg-text1'>沖縄の絶景に恋をして</P>
	  <p class='bg-text2'>誰も知らない、あなただけの</p>
	  <p class="bg-text3">南国・沖縄を"最高"に楽しもう！</p>
	</div>

<div class="container">
<div class="index_inner">
    <div class="container">
        <h3 class="title">新着投稿</h3>
        <div class="row">
              <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <img class="card-img-top" src="..." alt="カードの画像">
								  <div class="card-body">
								    <h5 class="card-title">カードのタイトル</h5>
								    <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
                        <button2 class="b_size btn-design">詳細を見る</button2>
								  </div>
								</div>
               </div>
               <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <img class="card-img-top" src="..." alt="カードの画像">
								  <div class="card-body">
								    <h5 class="card-title">カードのタイトル</h5>
								    <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
                        <button2 class="b_size btn-design btn1">詳細を見る</button2>
								  </div>
								</div>
               </div>
               <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <img class="card-img-top" src="..." alt="カードの画像">
								  <div class="card-body">
								    <h5 class="card-title">カードのタイトル</h5>
								    <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
                        <button2 class="b_size btn-design">詳細を見る</button2>
								  </div>
								</div>
               </div>
         </div>
     </div>
 </div>
</div>


    <div class="container">
    	<div class="row">
        <h3 class="title">新着質問</h3>
      </div>
        <div class="row">
              <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <div class="card-body">
								    <h5 class="card-title">カードのタイトル</h5>
								    <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
                        <button2 class="b_size btn-design">詳細を見る</button2>
								  </div>
								</div>
               </div>
               <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <div class="card-body">
								    <h5 class="card-title">カードのタイトル</h5>
								    <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
                        <button2 class="b_size btn-design btn1">詳細を見る</button2>
								  </div>
								</div>
               </div>
               <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <div class="card-body">
								    <h5 class="card-title">カードのタイトル</h5>
								    <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
                        <button2 class="b_size btn-design">詳細を見る</button2>
								  </div>
								</div>
               </div>
         </div>
     </div>